---
layout: default
---

<article class="container p-2">
  <section class="columns pt-2">
    <div class="column col-1"></div>

    <section class="tile column col-10 col-mx-auto pt-2">
      <div class="column col-2 hide-md"></div>

        <div class="tile-content">
          <h3 class="tile-title">{{ page.title }}</h3>
          <span class="tile-subtitle text-gray">{{page.date | date: "%b %d, %Y "}}</span>
          <div class="pt-2">
            {{content}}
          </div>
          {% include post-pagination.html %}
        </div>

      <div class="column col-2 hide-md"></div>
    </section>
    <div class="column col-1"></div>

  </section>
</article>
